extends layout

block content
  h1 About Us
  p Tunnel Snakes is a team of young programmers comprised of members Dylan Sprague, Keon Muellerchen, and Alex Bester based in Ontario Canada. The Purpose of this site is to allow users to create, edit and view surveys as a project for the class JavaScript Frameworks in the Georgian College Programmer Course. 