extends ../layout

block content
  h1= survey.title

  form(method="POST")
    input(name="title" value=survey.title placeholder="Survey Title")
    input(name="survey.description" value=survey.description placeholder="Description")
    input(name="survey.author" value=survey.author placeholder="Author")
    select#choose(name='type', required='')
      option(value='', disabled='', selected='') Survey Type
      option(value='Agree/Disagree') Agree/Disagree
      option(value='Multiple Choice') Multiple Choice

    button(type="submit") Save Survey